In [1]:
import numpy as np, pandas as pd,time
from selenium.webdriver import Safari
from selenium.webdriver import DesiredCapabilities
from requests import get
from bs4 import BeautifulSoup

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [147]:
#Create Function
def naukri_da(url):
    
    #Create Blank Dictionary
    job_dict={}
    
    #Create Safari Instance
    browser=Safari()
    
    #Get URL
    browser.get(url)
    time.sleep(2)
    
    #Switch to current window
    browser.switch_to.window(browser.current_window_handle)
    
    #Enter Data Analyst  and Banglore in Search jobs and location respectively and click on search
    input_search_des=browser.find_element_by_xpath("//input[@class='sugInp' and @id='qsb-keyword-sugg']")
    input_search_des.send_keys('Data Analyst')
    input_search_loc=browser.find_element_by_xpath("//input[@class='sugInp' and @id='qsb-location-sugg']")
    input_search_loc.send_keys('Bangalore')
    click_search=browser.find_element_by_xpath("//div[@class='search-btn']")
    click_search.click()
    time.sleep(2)    
    
    #Fetch response and create soup
    response=browser.page_source
    soup=BeautifulSoup(response,'lxml')
    job_title=soup.find_all('div',attrs={'class':'list'})[0].find_all('div',attrs={'class':'info fleft'})
    job_loc=soup.find_all('div',attrs={'class':'list'})[0].find_all('li',attrs={'class':'fleft grey-text br2 placeHolderLi location'})
    job_ex=soup.find_all('div',attrs={'class':'list'})[0].find_all('li',attrs={'class':'fleft grey-text br2 placeHolderLi experience'})
    job_comp=soup.find_all('div',attrs={'class':'mt-7 companyInfo subheading lh16'})
    
    #Update blank dictionary
    job_dict.update({'Title':[]})
    job_dict.update({'Location':[]})
    job_dict.update({'Experience':[]})
    job_dict.update({'Company':[]})
    
    #Append values in dicitionary
    for x in range(0,10):
        job_dict['Title'].append(job_title[x].a.text)
        job_dict['Location'].append(job_loc[x].span.text)
        job_dict['Experience'].append(job_ex[x].span.text)
        job_dict['Company'].append(job_comp[x].a.text)
    
    #Create DataFrame and return the same
    job_df=pd.DataFrame(job_dict)
    return job_df

In [148]:
#Call function
df=naukri_da("https://www.naukri.com")
df

,Title,Location,Experience,Company
0,Fresher Data Engineer / Data Scientist / Data...,"Delhi NCR, Bengaluru, Hyderabad",0-2 Yrs,ACHYUTAS SOFT PRIVATE LIMITED
1,Immediate opening For Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad",0-3 Yrs,CAIA-Center For Artificial Intelligence & Adva...
2,"SAS AML Data Analyst / Trainee & Data Science,...",Bengaluru(Whitefield),0-5 Yrs,MagicBase Royal BD Pvt Ltd
3,Hiring Data Analysts,Bengaluru,2-5 Yrs,Flipkart Internet Private Limited
4,Data Analyst,"Bengaluru, India",3-5 Yrs,GlaxoSmithKline Pharmaceuticals Limited
5,Study Data Analyst,Bengaluru,4-8 Yrs,GlaxoSmithKline Pharmaceuticals Limited
6,Data Analyst,Bengaluru,3-4 Yrs,Cognizant Technology Solutions India Ltd
7,Data Analyst,Bengaluru,2-3 Yrs,Cognizant Technology Solutions India Ltd
8,Business Data Analyst,Bengaluru,3-6 Yrs,GENPACT India Private Limited
9,Data Analyst ( Predictive Modelling),Bengaluru,2-5 Yrs,AVE-Promagne

### Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data.

In [376]:
#Create Function
def naukri_ds(url):
    
    #Create Blank Dictionary
    job_dict={}
    
    #Create Safari Instance
    browser=Safari()
    
    #Get URL
    browser.get(url)
    time.sleep(2)
    main_page=browser.current_window_handle
    
    #Close popups
    for x in browser.window_handles:
        if x!=main_page:
            browser.switch_to.window(x)
            browser.close()
            time.sleep(1)
    
    #Switch to current window
    browser.switch_to.window(main_page)
    
    #Enter Data Analyst  and Banglore in Search jobs and location respectively and click on search
    input_search_des=browser.find_element_by_xpath("//input[@class='sugInp' and @id='qsb-keyword-sugg']")
    input_search_des.send_keys('Data Scientist')
    input_search_loc=browser.find_element_by_xpath("//input[@class='sugInp' and @id='qsb-location-sugg']")
    input_search_loc.send_keys('Bangalore')
    click_search=browser.find_element_by_xpath("//div[@class='search-btn']")
    click_search.click()
    time.sleep(1)    
    
    #Fetch response and create soup
    response=browser.page_source
    soup=BeautifulSoup(response,'lxml')
    job_title=soup.find_all('div',attrs={'class':'list'})[0].find_all('div',attrs={'class':'info fleft'})
    job_loc=soup.find_all('div',attrs={'class':'list'})[0].find_all('li',attrs={'class':'fleft grey-text br2 placeHolderLi location'})
    job_comp=soup.find_all('div',attrs={'class':'mt-7 companyInfo subheading lh16'})
    
    #Update blank dictionary
    job_dict.update({'Title':[]})
    job_dict.update({'Location':[]})
    job_dict.update({'Company':[]})
    job_dict.update({'Job Description':[]})
    
    #Append values in dicitionary
    for x in range(0,10):
        job_dict['Title'].append(job_title[x].a.text)
        job_dict['Location'].append(job_loc[x].span.text)
        job_dict['Company'].append(job_comp[x].a.text)
    
    time.sleep(1)
    butn=browser.find_elements_by_xpath("//div[@class='info fleft']//a[@class='title fw500 ellipsis']")
    
    second_page=browser.current_window_handle
    
    #Open each job and fetch Job Description
    for x in range(0,10):
        butn[x].click()
        time.sleep(1)
        for x in browser.window_handles:
            if x != second_page:
                browser.switch_to.window(x)
                break
        response=browser.page_source
        soup=BeautifulSoup(response,'lxml')
        time.sleep(2)
        try:
            p_test=soup.find_all('section',attrs={'class':'job-desc'})[0].find_all('p')
            if len(p_test)==0:
                y='Not able to fetch JD due to exception'
            else:
                y=''
                for x in p_test:
                    y=y+x.text.replace('<br/>',' ').replace('</strong>',' ')
        except:
            y='Not able to fetch JD due to exception'
        browser.close()
        time.sleep(2)
        browser.switch_to.window(second_page)
        job_dict['Job Description'].append(y)
    
    #Create DataFrame and return the same
    job_df=pd.DataFrame(job_dict)
    return job_df

In [377]:
df=naukri_ds('https://www.naukri.com')
df

,Title,Location,Company,Job Description
0,Fresher Data Engineer / Data Scientist / Data...,"Delhi NCR, Bengaluru, Hyderabad",ACHYUTAS SOFT PRIVATE LIMITED,Roles and ResponsibilitiesAnalytical Skills:To...
1,Immediate opening For Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,Dear Candidate Schedule a Telephonic Intervi...
2,Lead Data Scientist - Machine Learning/ Data M...,Bengaluru,Wrackle Technologies Pvt Ltd,Requirements :- 6-9 years of strong experience...
3,Data Scientist - Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,Not able to fetch JD due to exception
4,Data Scientist / Data Analyst,Bengaluru,Altimetrik India Pvt. Ltd,Not able to fetch JD due to exception
5,Senior Data Scientist - NLP/ Python/ R,"Bengaluru, Hyderabad",AVI Consulting LLP,"Skill : NLP,Semantic model, NER model, Deep Le..."
6,Explore job openings on Data Scientist!!,"Pune, Mumbai, Bengaluru",Bristlecone India Limited,JOB DESCRIPTION Exp 4+ years 1) Hands-on py...
7,Senior Data Scientist,Bengaluru,Signify,We re on the lookout for forward-thinking inn...
8,Artificial Intelligence Analyst/Data Scientist,"Mumbai, Bengaluru",TalentCo Search Pvt Ltd,- Machine Learning techniques (recommendation ...
9,Data Scientist,"Chennai, Pune, Mumbai, Bengaluru, Hyderabad, K...",Mailkit Private Limited,Mailkit is an European Marketing Automation co...

### Q3: In this question you have to scrape data using the filters available on the webpage as shown below: You have to use the location and salary filter.

In [383]:
browser=Safari()

In [384]:
url='https://www.naukri.com'
browser.get(url)

In [385]:
browser.switch_to.window(browser.current_window_handle)

In [386]:
input_search_des=browser.find_element_by_xpath("//input[@class='sugInp' and @id='qsb-keyword-sugg']")
input_search_des.send_keys('Data Scientist')

In [387]:
click_search=browser.find_element_by_xpath("//div[@class='search-btn']")
click_search.click()

In [393]:
click_delhi=browser.find_element_by_xpath("//label[@for='chk-Delhi/NCR-cityType-']//i")
click_delhi.click()

In [396]:
ent_sal=browser.find_element_by_xpath("//div[@data-filter-id='salaryRange']//label[@for='chk-3-6 Lakhs-ctcFilter-']//i")
ent_sal.click()

In [398]:
#Create Function
def naukri_da_filter(url):
    
    #Create Blank Dictionary
    job_dict={}
    
    #Create Safari Instance
    browser=Safari()
    url='https://www.naukri.com'
    
    #Get URL
    browser.get(url)
    time.sleep(2)
    
    #Switch to current window
    browser.switch_to.window(browser.current_window_handle)
    
    #Enter Data Analyst  and Banglore in Search jobs and location respectively and click on search
    input_search_des=browser.find_element_by_xpath("//input[@class='sugInp' and @id='qsb-keyword-sugg']")
    input_search_des.send_keys('Data Scientist')
    click_search=browser.find_element_by_xpath("//div[@class='search-btn']")
    click_search.click()
    time.sleep(1)    
    click_delhi=browser.find_element_by_xpath("//label[@for='chk-Delhi/NCR-cityType-']//i")
    click_delhi.click()
    time.sleep(1)
    ent_sal=browser.find_element_by_xpath("//div[@data-filter-id='salaryRange']//label[@for='chk-3-6 Lakhs-ctcFilter-']//i")
    ent_sal.click()
    time.sleep(1)
    
    
    #Fetch response and create soup
    response=browser.page_source
    soup=BeautifulSoup(response,'lxml')
    job_title=soup.find_all('div',attrs={'class':'list'})[0].find_all('div',attrs={'class':'info fleft'})
    job_loc=soup.find_all('div',attrs={'class':'list'})[0].find_all('li',attrs={'class':'fleft grey-text br2 placeHolderLi location'})
    job_ex=soup.find_all('div',attrs={'class':'list'})[0].find_all('li',attrs={'class':'fleft grey-text br2 placeHolderLi experience'})
    job_comp=soup.find_all('div',attrs={'class':'mt-7 companyInfo subheading lh16'})
    
    #Update blank dictionary
    job_dict.update({'Title':[]})
    job_dict.update({'Location':[]})
    job_dict.update({'Experience':[]})
    job_dict.update({'Company':[]})
    
    #Append values in dicitionary
    for x in range(0,10):
        job_dict['Title'].append(job_title[x].a.text)
        job_dict['Location'].append(job_loc[x].span.text)
        job_dict['Experience'].append(job_ex[x].span.text)
        job_dict['Company'].append(job_comp[x].a.text)
    
    #Create DataFrame and return the same
    job_df=pd.DataFrame(job_dict)
    return job_df

In [399]:
df=naukri_da_filter('https://www.naukri.com')
df

,Title,Location,Experience,Company
0,Fresher Data Engineer / Data Scientist / Data...,"Delhi NCR, Bengaluru, Hyderabad",0-2 Yrs,ACHYUTAS SOFT PRIVATE LIMITED
1,Data Scientist,Gurgaon Gurugram,4-8 Yrs,IBM India Pvt. Limited
2,Data Scientist - Python/Machine Learning,Noida,5-8 Yrs,Jubna
3,Data Scientist,Gurgaon,5-9 Yrs,PureSoftware Pvt Ltd.
4,Only Fresher / Data Scientist / Data Analyst /...,"Delhi NCR, Greater Noida, Noida",0-0 Yrs,GABA Consultancy services
5,Data Scientist,"Delhi NCR, Gurgaon",1-4 Yrs,Air Asia India Limited
6,Lead Data Scientist,"Delhi NCR, Noida(Sector-142 Noida)",9-14 Yrs,NEC CORPORATION INDIA PRIVATE LTD
7,Excellent opportunity For Lead Data Scientist ...,"Delhi NCR(Sector-142 Noida), Noida",9-14 Yrs,NEC CORPORATION INDIA PRIVATE LTD
8,Lead Data Scientist,"Delhi NCR, Noida(Sector-142 Noida)",9-14 Yrs,NEC CORPORATION INDIA PRIVATE LTD
9,Excellent opportunity For Lead Data Scientist ...,"Delhi NCR(Sector-142 Noida), Noida",9-14 Yrs,NEC CORPORATION INDIA PRIVATE LTD

### Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company.

In [524]:
def glassdoor(url):
     
    #Create Blank Dictionary
    job_dict={}
    
    #Create Safari Instance
    browser=Safari()
    
    #Get URL
    browser.get(url)
    time.sleep(2)
    
    #Switch to current window
    #browser.switch_to.window(browser.current_window_handle)
    
    #Enter Data Scientist and Noida in Search jobs and location respectively and click on search
    job_search=browser.find_element_by_xpath("//input[@id='sc.keyword']")
    job_search.send_keys('Data Scientist')
    loc_search=browser.find_element_by_xpath("//input[@id='sc.location']")
    loc_search.send_keys('Noida')
    submit_btn=browser.find_element_by_xpath("//button[@type='submit']")
    submit_btn.click()
    time.sleep(3)    
    
    #Fetch response and create soup
    response=browser.page_source
    soup=BeautifulSoup(response,'lxml')
    comp_name=soup.find_all('article',attrs={'class':'noPad'})[0].find_all('div',attrs={'class':'d-flex flex-column pl-sm css-nq3w9f'})
    days_posted=soup.find_all('div',attrs={'data-test':'job-age'})
    ratings=soup.find_all('span',attrs={'class':'compactStars'})
    
    #Update blank dictionary
    job_dict.update({'Company':[]})
    job_dict.update({'Days Posted':[]})
    job_dict.update({'Ratings':[]})
    
    #Append values in dicitionary
    for x in range(0,10):
        job_dict['Company'].append(comp_name[x].span.text)
        job_dict['Days Posted'].append(days_posted[x].text)
        job_dict['Ratings'].append(ratings[x].text)
    
    #Create DataFrame and return the same
    job_df=pd.DataFrame(job_dict)
    return job_df

In [525]:
df=glassdoor('https://www.glassdoor.co.in/Jobs/Glassdoor-Jobs-E100431.htm')
df

                            Company Days Posted Ratings
0                     NatWest Group         24h     3.9
1                       AI Engineer          8d     3.2
2   ANI Calls India Private Limited         24h     4.4
3                         Microsoft         14d     3.5
4                    WSD Consultant          2d     3.3
5   ANI Calls India Private Limited         24h     3.2
6   ANI Calls India Private Limited         24h     4.4
7                           Dürr AG         14d     3.3
8  Applicate IT Solutions Pvt. Ltd.          3d     3.7
9                   Dürr Somac GmbH         14d       4

### Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [592]:
def glassdoor_avg(url):
         
    #Create Blank Dictionary
    job_dict={}
    
    #Create Safari Instance
    browser=Safari()
    
    #Get URL
    browser.get(url)
    time.sleep(2)
    
    #Switch to current window
    #browser.switch_to.window(browser.current_window_handle)
    
    #Enter Data Scientist and Noida in Search jobs and location respectively and click on search
    job_search=browser.find_element_by_xpath("//input[@name='sc.keyword']")
    job_search.send_keys('Data Scientist')
    loc_search=browser.find_element_by_xpath("//input[@id='LocationSearch']")
    #Clear the defaults first
    loc_search.clear()
    loc_search.send_keys('Noida')
    submit_btn=browser.find_element_by_xpath("//button[@id='HeroSearchButton']") 
    submit_btn.click()
    time.sleep(2)
    
    
    #Fetch response and create soup
    response=browser.page_source
    soup=BeautifulSoup(response,'lxml')
    company=soup.find_all('div',attrs={'class':'module mb-0'})[0].find_all('div',attrs={'data-test':'job-info'})
    avg_pay=soup.find_all('div',attrs={'class':'col-2 d-none d-md-flex flex-row justify-content-end'})
    min_max=soup.find_all('div',attrs={'class':'col-3 offset-1 d-none d-md-block'})
    
    
    #Update blank dictionary
    job_dict.update({'Company':[]})
    job_dict.update({'Average Pay':[]})
    job_dict.update({'Minimum Sal':[]})
    job_dict.update({'Maximum Sal':[]})
    
    for x in range(10):
        job_dict['Company'].append(company[x].find_all('p',attrs={'class':'m-0'})[1].text)
        job_dict['Average Pay'].append(avg_pay[x].strong.text)
        job_dict['Minimum Sal'].append(min_max[x].find_all('div',attrs={'class':'common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container'})[0].find_all('span')[0].text)
        job_dict['Maximum Sal'].append(min_max[x].find_all('div',attrs={'class':'common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container'})[0].find_all('span')[1].text)
    
    #Create DataFrame and return the same
    job_df=pd.DataFrame(job_dict)
    return job_df

In [593]:
df=glassdoor_avg('https://www.glassdoor.co.in/Salaries/index.htm')
df

                          Company  Average Pay Minimum Sal Maximum Sal
0                       Delhivery  ₹ 12,83,026       ₹705K    ₹11,495K
1                       Accenture  ₹ 11,19,272       ₹571K     ₹2,200K
2                             IBM   ₹ 7,52,445       ₹580K     ₹2,700K
3              Ericsson-Worldwide   ₹ 8,28,000       ₹468K     ₹1,595K
4              UnitedHealth Group  ₹ 13,21,601       ₹708K     ₹1,557K
5                Analytics Vidhya     ₹ 20,889        ₹14K        ₹22K
6       Tata Consultancy Services   ₹ 6,33,432       ₹488K     ₹1,000K
7  Cognizant Technology Solutions   ₹ 9,96,446       ₹784K     ₹1,250K
8              Valiance Solutions   ₹ 7,71,320       ₹496K     ₹1,138K
9              Vidooly Media Tech     ₹ 12,669         ₹8K        ₹20K

### Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

In [642]:
def flipkart_sunglass(url):
             
    #Create Blank Dictionary
    flip={}
    
    #Create Safari Instance
    browser=Safari()
    
    #Get URL
    browser.get(url)
    time.sleep(2)
    
    #Switch to current window
    #browser.switch_to.window(browser.current_window_handle)
    
    #Enter Sunglasses in Search bar and click on search
    click_x=browser.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    click_x.click()
    input_text=browser.find_element_by_xpath("//input[@class='_3704LK']")
    input_text.send_keys('sunglasses')
    click_search=browser.find_element_by_xpath("//button[@type='submit']")
    click_search.click()
    time.sleep(2)
    
    #Update blank dictionary
    flip.update({'Brand':[]})
    flip.update({'Price':[]})
    flip.update({'Description':[]})
    flip.update({'Discount':[]})
    
    response=browser.page_source
    soup=BeautifulSoup(response,'lxml')
    
    brand=soup.find_all('div',attrs={'class':'_2WkVRV'})
    desc=soup.find_all('div',attrs={'class':'_2B099V'})
    price=soup.find_all('div',attrs={'class':'_25b18c'})
    disc=soup.find_all('div',attrs={'class':'_25b18c'})
    
    for x in range(40):
        flip['Brand'].append(brand[x].text)
        flip['Description'].append(desc[x].a.text)
        flip['Price'].append(price[x].find_all('div')[0].text)
        flip['Discount'].append(disc[x].find_all('div')[2].text)
    
    def check_x(y):
        if 100-len(y)<=0:
            return None
        elif 100-len(y)>40:
            x=40
            return x
        else:
            x=100-len(y)
            return x
    
    x=check_x(flip['Brand'])
    
    click_next=browser.find_element_by_xpath("//div[@class='_2pi5LC col-12-12']//a[@class='_1LKTO3']")
    click_next.click()
    response=browser.page_source
    soup=BeautifulSoup(response,'lxml')
    brand=soup.find_all('div',attrs={'class':'_2WkVRV'})
    desc=soup.find_all('div',attrs={'class':'_2B099V'})
    price=soup.find_all('div',attrs={'class':'_25b18c'})
    disc=soup.find_all('div',attrs={'class':'_25b18c'})
    
    for x in range(x):
        flip['Brand'].append(brand[x].text)
        flip['Description'].append(desc[x].a.text)
        flip['Price'].append(price[x].find_all('div')[0].text)
        flip['Discount'].append(disc[x].find_all('div')[2].text)
    
    x=check_x(flip['Brand'])
    
    time.sleep(2)
    click_next=browser.find_element_by_xpath("//div[@class='_2pi5LC col-12-12']//a[@class='_1LKTO3'][2]")
    click_next.click()
    time.sleep(2)
    response=browser.page_source
    soup=BeautifulSoup(response,'lxml')
    brand=soup.find_all('div',attrs={'class':'_2WkVRV'})
    desc=soup.find_all('div',attrs={'class':'_2B099V'})
    price=soup.find_all('div',attrs={'class':'_25b18c'})
    disc=soup.find_all('div',attrs={'class':'_25b18c'})
    
    for x in range(x):
        flip['Brand'].append(brand[x].text)
        flip['Description'].append(desc[x].a.text)
        flip['Price'].append(price[x].find_all('div')[0].text)
        flip['Discount'].append(disc[x].find_all('div')[2].text)
        
    flip_df=pd.DataFrame(flip)
    return flip_df

In [643]:
df=flipkart_sunglass('https://www.flipkart.com')
df

,Brand,Price,Description,Discount
0,Spexra,₹206,UV Protection Spectacle Sunglasses (Free Size),84% off
1,Singco India,₹179,"UV Protection, Polarized Aviator Sunglasses (F...",74% off
2,FDA COLLECTION,₹199,"Gradient, Mirrored, UV Protection Round, Round...",84% off
3,FDA COLLECTION,₹188,"Gradient, Mirrored, UV Protection Round, Round...",87% off
4,JOHAENA,₹160,"Riding Glasses, UV Protection Oval Sunglasses ...",87% off
...,...,...,...,...
95,SRPM,₹274,UV Protection Round Sunglasses (53),89% off
96,Johaena,₹359,UV Protection Butterfly Sunglasses (Free Size),85% off
97,I Flash,₹179,"UV Protection, Polarized, Gradient Round Sungl...",85% off
98,Funky Boys,₹224,UV Protection Wayfarer Sunglasses (53),85% off
99,Royal Son,₹711,Polarized Aviator Sunglasses (58),64% off

### Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link:

In [186]:
def flip_iphone(url):
    iphone_dict={}
    url_list=[]
    
    browser=Safari()
    browser.get(url)
    allrev=browser.find_element_by_xpath("//div[@class='_3UAT2v _16PBlm']")
    allrev.click()
    time.sleep(2)
    browser.refresh()
    time.sleep(2)

    
    iphone_dict.update({'Summary':[]})
    iphone_dict.update({'Description':[]})
    iphone_dict.update({'Rating':[]})
    
    response=browser.page_source
    soup=BeautifulSoup(response,'lxml')
    
    summary=soup.find_all('div',attrs={'class':'_1YokD2 _3Mn1Gg col-9-12'})[0].find_all('div',attrs={'class':'col _2wzgFH K0kLPL'})
    desc=soup.find_all('div',attrs={'class':'_1YokD2 _3Mn1Gg col-9-12'})[0].find_all('div',attrs={'class':'col _2wzgFH K0kLPL'})
    rating=soup.find_all('div',attrs={'class':'_1YokD2 _3Mn1Gg col-9-12'})[0].find_all('div',attrs={'class':'_3LWZlK _1BLPMq'})
    
    for x in range(10):
        iphone_dict['Summary'].append(summary[x].p.text)
        iphone_dict['Description'].append(desc[x].find('div',attrs={'class':''}).div.text)
        iphone_dict['Rating'].append(rating[x].text)
    
    try:
        click_next=browser.find_element_by_xpath("//div[@class='_2MImiq _1Qnn1K']//a[@class='_1LKTO3']").get_attribute('href')
        browser.get(click_next)
        time.sleep(2)
    except:
        click_next=browser.find_element_by_xpath("//div[@class='_2MImiq _1Qnn1K']//a[@class='_1LKTO3']").get_attribute('href')
        browser.get(click_next)
        time.sleep(2)
    
    while (len(iphone_dict['Summary'])<100):
        for x in range(10):
            iphone_dict['Summary'].append(summary[x].p.text) 
            iphone_dict['Description'].append(desc[x].find('div',attrs={'class':''}).div.text)
            iphone_dict['Rating'].append(rating[x].text)
        
        try:
            click_next=browser.find_element_by_xpath("//div[@class='_2MImiq _1Qnn1K']//a[@class='_1LKTO3'][2]").get_attribute('href')
            browser.get(click_next)
            time.sleep(2)
        except:
            click_next=browser.find_element_by_xpath("//div[@class='_2MImiq _1Qnn1K']//a[@class='_1LKTO3'][2]").get_attribute('href')
            browser.get(click_next)
            time.sleep(2)
            continue
            
        response=browser.page_source
        soup=BeautifulSoup(response,'lxml')
        summary=soup.find_all('div',attrs={'class':'_1YokD2 _3Mn1Gg col-9-12'})[0].find_all('div',attrs={'class':'col _2wzgFH K0kLPL'})
        desc=soup.find_all('div',attrs={'class':'_1YokD2 _3Mn1Gg col-9-12'})[0].find_all('div',attrs={'class':'col _2wzgFH K0kLPL'})
        rating=soup.find_all('div',attrs={'class':'_1YokD2 _3Mn1Gg col-9-12'})[0].find_all('div',attrs={'class':'_3LWZlK _1BLPMq'})
    
    iphone_df=pd.DataFrame(iphone_dict)
    return iphone_df

In [187]:
df=flip_iphone('https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace')
df

,Summary,Description,Rating
0,Perfect product!,Amazing phone with great cameras and better ba...,5
1,Great product,Amazing Powerful and Durable Gadget.I’m am ver...,5
2,Perfect product!,It’s a must buy who is looking for an upgrade ...,5
3,Highly recommended,iphone 11 is a very good phone to buy only if ...,5
4,Perfect product!,Value for money❤️❤️Its awesome mobile phone in...,5
...,...,...,...
95,Nice,Iphone 11 black 64gb is really a cool phone 1....,3
96,Nice,"Although it’s an iPhone, it doesn’t give anyth...",3
97,Just wow!,Apple i Phone is the best phone available in t...,5
98,Brilliant,use outside gives a outstanding experience ......,5
99,Delightful,Just the display held it from being a 5star ph...,4

### Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

In [349]:
def flipkart_sneakers(url):
             
    #Create Blank Dictionary
    flip={}
    
    #Create Safari Instance
    browser=Safari()
    
    #Get URL
    browser.get(url)
    time.sleep(2)
    
    #Enter Sneaker in Search bar and click on search
    click_x=browser.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']")
    click_x.click()
    input_text=browser.find_element_by_xpath("//input[@class='_3704LK']")
    input_text.send_keys('Sneakers')
    click_search=browser.find_element_by_xpath("//button[@type='submit']")
    click_search.click()
    time.sleep(2)
    
    #Update blank dictionary
    flip.update({'Brand':[]})
    flip.update({'Price':[]})
    flip.update({'Description':[]})
    flip.update({'Discount':[]})
    
    response=browser.page_source
    soup=BeautifulSoup(response,'lxml')
    
    brand=soup.find_all('div',attrs={'class':'_2WkVRV'})
    desc=soup.find_all('div',attrs={'class':'_2B099V'})
    price=soup.find_all('div',attrs={'class':'_25b18c'})
    disc=soup.find_all('div',attrs={'class':'_25b18c'})

    
    for x in range(0,40):
        try:
            flip['Brand'].append(brand[x].text)
            flip['Description'].append(desc[x].a.text)
            flip['Price'].append(price[x].find_all('div',attrs={'class':'_30jeq3'})[0].text)
            flip['Discount'].append(disc[x].find_all('div',attrs={'class':'_3Ay6Sb'})[0].find('span').text)
        except IndexError:
            #In some cases there is no discount
            flip['Discount'].append('-')
            continue
    
    def check_x(y):
        if 100-len(y)<=0:
            return None
        elif 100-len(y)>40:
            x=40
            return x
        else:
            x=100-len(y)
            return x
    
    x=check_x(flip['Brand'])
    
    click_next=browser.find_element_by_xpath("//div[@class='_2pi5LC col-12-12']//a[@class='_1LKTO3']")
    click_next.click()
    time.sleep(2)
    response=browser.page_source
    soup=BeautifulSoup(response,'lxml')
    brand=soup.find_all('div',attrs={'class':'_2WkVRV'})
    desc=soup.find_all('div',attrs={'class':'_2B099V'})
    price=soup.find_all('div',attrs={'class':'_25b18c'})
    disc=soup.find_all('div',attrs={'class':'_25b18c'})

    
    for x in range(x):
        try:
            flip['Brand'].append(brand[x].text)
            flip['Description'].append(desc[x].a.text)
            flip['Price'].append(price[x].find_all('div',attrs={'class':'_30jeq3'})[0].text)
            flip['Discount'].append(disc[x].find_all('div',attrs={'class':'_3Ay6Sb'})[0].find('span').text)
        except IndexError:
            flip['Discount'].append('-')
            continue

    
    x=check_x(flip['Brand'])
    
    time.sleep(2)
    click_next=browser.find_element_by_xpath("//div[@class='_2pi5LC col-12-12']//a[@class='_1LKTO3'][2]")
    click_next.click()
    time.sleep(2)
    response=browser.page_source
    soup=BeautifulSoup(response,'lxml')
    brand=soup.find_all('div',attrs={'class':'_2WkVRV'})
    desc=soup.find_all('div',attrs={'class':'_2B099V'})
    price=soup.find_all('div',attrs={'class':'_25b18c'})
    disc=soup.find_all('div',attrs={'class':'_25b18c'})
    
    for x in range(x):
        try:
            flip['Brand'].append(brand[x].text)
            flip['Description'].append(desc[x].a.text)
            flip['Price'].append(price[x].find_all('div',attrs={'class':'_30jeq3'})[0].text)
            flip['Discount'].append(disc[x].find_all('div',attrs={'class':'_3Ay6Sb'})[0].find('span').text)
        except IndexError:
            flip['Discount'].append('-')
            continue
        
        
    flip_df=pd.DataFrame(flip)
    return flip_df

In [352]:
df=flipkart_sneakers('https://www.flipkart.com')
df['Discount']=df['Discount'].apply(lambda x:x[:x.find('%')])
df

,Brand,Price,Description,Discount
0,Rockfield,₹448,Sneakers For Men,55
1,Sparx,₹730,Sneakers For Men,23
2,Chevit,₹236,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,52
3,World Wear Footwear,₹240,5011-Latest Collection Stylish Casual Loafer S...,51
4,Deny Brown,₹379,445 Sports Shoes Sneakers For Men,24
...,...,...,...,...
95,T-Rock,₹399,Mesh Casual Stylish Partywear Casaul Shoes For...,60
96,Nike,"₹2,112",Sb Charge Slr Sneakers For Men,53
97,Sparx,₹649,Canvas Casual Partywear Outdoor Sneakers Shoes...,7
98,Puma,"₹1,529",Court Breaker Derby Sneakers For Men,66
99,Bonexy,₹299,Sneakers For Men,70

### Q9: Go to the link - https://www.myntra.com/shoes Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black”, as shown in the below image

In [407]:
def myntra(url):
    
    #Create Dictionary
    myntra_dict={}
    
    #Open Webpage
    browser=Safari()
    browser.get(url)
    
    #Click on filters
    click_filt=browser.find_element_by_xpath("//input[@value='5899.0 TO 11599.0']/following-sibling::div")
    click_black=browser.find_element_by_xpath("//li[@class='colour-listItem']//input[@value='Black']/following-sibling::div")
    click_black.click()
    time.sleep(5)    
    click_filt.click()
    time.sleep(5)
    
    #Create Soup
    response=browser.page_source
    soup=BeautifulSoup(response,'lxml')
    
    #Create List in Dictionary
    myntra_dict.update({'Brand':[]})
    myntra_dict.update({'Description':[]})
    myntra_dict.update({'Price':[]})
    
    #Create Variables
    brand=soup.find_all('div',attrs={'class':'product-productMetaInfo'})
    desc=soup.find_all('div',attrs={'class':'product-productMetaInfo'})
    price=soup.find_all('div',attrs={'class':'product-productMetaInfo'})
    
    #Update List in for loop
    for x in range(50):
        myntra_dict['Brand'].append(brand[x].h3.text)
        myntra_dict['Description'].append(desc[x].h4.text)
        myntra_dict['Price'].append(price[x].find_all('div',attrs={'class':'product-price'})[0].span.text)
    
    
    #Click on Next
    click_next=browser.find_element_by_xpath("//li[@class='pagination-next']//a").get_attribute('href')
    browser.get(click_next)
    time.sleep(1)
    
     #Create Soup
    response=browser.page_source
    soup=BeautifulSoup(response,'lxml')    
    
    #Create Variables
    brand=soup.find_all('div',attrs={'class':'product-productMetaInfo'})
    desc=soup.find_all('div',attrs={'class':'product-productMetaInfo'})
    price=soup.find_all('div',attrs={'class':'product-productMetaInfo'})
    
    #Update List in for loop
    for x in range(50):
        myntra_dict['Brand'].append(brand[x].h3.text)
        myntra_dict['Description'].append(desc[x].h4.text)
        myntra_dict['Price'].append(price[x].find_all('div',attrs={'class':'product-price'})[0].span.text)
        
    myntra_df=pd.DataFrame(myntra_dict)
    return myntra_df

In [420]:
df=myntra('https://www.myntra.com/shoes')
df['Price']=df['Price'].apply(lambda x:x[x.find('Rs.')+4:9].replace('R','').strip())
df

                  Brand                     Description  Price
0                  Nike       Men QUEST 3 Running Shoes   5995
1      ADIDAS Originals            Men Yung- 1 Sneakers  10999
2   KIPRUN By Decathlon       Men Kiprun Fast 2 Running   6399
3                  Puma  Men HYBRID NETFIT Running Shoe   6599
4                  Nike          Men Zoom Running Shoes   7995
..                  ...                             ...    ...
95                 Puma         Men Hydra Running Shoes   7199
96     ADIDAS Originals              Men Suede Sneakers   6999
97     ADIDAS Originals             Men YUNG-1 Sneakers  10999
98            Cole Haan          Women Leather Sneakers   6599
99         UNDER ARMOUR       Charged Pursuit 2 Running   6299

[100 rows x 3 columns]

### Q10: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”

In [444]:
def amazon(url):
    
    #Create Dictionary
    amazon={}
    
    #Open Webpage
    browser=Safari()
    browser.get(url)
    
    #Enter Text
    input_text=browser.find_element_by_xpath("//input[@class='nav-input' and @id='twotabsearchtextbox']")
    input_text.send_keys('Laptop')
    click_search=browser.find_element_by_xpath("//input[@class='nav-input' and @type='submit']")
    click_search.click()
    time.sleep(2)
    
    #Click on i9. We will be clickin on i9 first then get results then clear the filter and then 
    #we will click on i7 and get the results as
    #in site we can only click on one value of processor filter
    clicki9=browser.find_element_by_xpath("//li[@aria-label='Intel Core i9']//i")
    clicki9.click()
    time.sleep(2)
    
    #Fetch response and create soup
    response=browser.page_source
    soup=BeautifulSoup(response,'lxml')
    
    #Initiate Dictionary
    amazon.update({'Title':[]})
    amazon.update({'Ratings':[]})
    amazon.update({'Price':[]})
    
    #Get Variables
    title=soup.find_all('div',attrs={'class':'sg-col-16-of-20 sg-col sg-col-8-of-12 sg-col-12-of-16'})[0].find_all('span',attrs={'class':'a-size-medium a-color-base a-text-normal'})
    ratings=soup.find_all('div',attrs={'class':'sg-col-16-of-20 sg-col sg-col-8-of-12 sg-col-12-of-16'})[0].find_all('span',attrs={'class':'a-icon-alt'})
    price=soup.find_all('div',attrs={'class':'sg-col-16-of-20 sg-col sg-col-8-of-12 sg-col-12-of-16'})[0].find_all('span',attrs={'class':'a-price-whole'})
    
    #Fetch Results
    for x in range(5):
        amazon['Title'].append(title[x].text)
        amazon['Ratings'].append(ratings[x].text)
        amazon['Price'].append(price[x].text)
    
    #Clear filter and select i7 and then repeat the process
    clickclear=browser.find_element_by_xpath("//a[@class='a-link-normal s-navigation-item s-navigation-clear-link']//span[@class='a-size-base a-color-base']")
    clickclear.click()
    time.sleep(2)
    
    clicki7=browser.find_element_by_xpath("//li[@aria-label='Intel Core i7']//i")
    clicki7.click()
    time.sleep(2)
    
    #Fetch response and create soup
    response=browser.page_source
    soup=BeautifulSoup(response,'lxml')
    
    #Get Variables
    title=soup.find_all('div',attrs={'class':'sg-col-16-of-20 sg-col sg-col-8-of-12 sg-col-12-of-16'})[0].find_all('span',attrs={'class':'a-size-medium a-color-base a-text-normal'})
    ratings=soup.find_all('div',attrs={'class':'sg-col-16-of-20 sg-col sg-col-8-of-12 sg-col-12-of-16'})[0].find_all('span',attrs={'class':'a-icon-alt'})
    price=soup.find_all('div',attrs={'class':'sg-col-16-of-20 sg-col sg-col-8-of-12 sg-col-12-of-16'})[0].find_all('span',attrs={'class':'a-price-whole'})
    
    #Fetch Results
    for x in range(5):
        amazon['Title'].append(title[x].text)
        amazon['Ratings'].append(ratings[x].text)
        amazon['Price'].append(price[x].text)
    
    amazon_df=pd.DataFrame(amazon)
    return amazon_df

In [445]:
df=amazon('https://www.amazon.in/')
df

,Title,Ratings,Price
0,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,5.0 out of 5 stars,"2,69,290"
1,ASUS ZenBook Pro Duo Intel Core i9-10980HK 10t...,5.0 out of 5 stars,"2,69,290"
2,Dell Alienware M15 R2 15.6-inch FHD Laptop (9t...,4.7 out of 5 stars,"2,44,990"
3,HP Omen X 2S Core i9 9th Gen 15.6-inch Dual Sc...,3.7 out of 5 stars,"3,28,139"
4,(Renewed) Dell G7 15 Gaming 7588 Laptop Intel ...,2.8 out of 5 stars,"1,07,490"
5,ASUS ZenBook 14 (2020) Intel Core i7-1165G7 11...,5.0 out of 5 stars,"95,490"
6,HP Omen 10th Gen Intel Core i7 Processor 15.6-...,3.6 out of 5 stars,"1,23,990"
7,(Renewed) Dell Inspiron 3567 Laptop Core i3-7t...,4.1 out of 5 stars,"29,990"
8,(Renewed) Lenovo ThinkPad E14 Intel Core i7 10...,3.8 out of 5 stars,"68,000"
9,HP Pavilion x360 Core i7 8th Gen 14-inch Touch...,5.0 out of 5 stars,"85,990"