In [36]:
import pandas as pd, numpy as np, sys, time
from requests import get
from bs4 import BeautifulSoup
import selenium
from selenium.webdriver import Safari

## 1. Write a python program to display all the header tags from ‘en.wikipedia.org/wiki/Main_Page’.

In [58]:
header_tag_dataframe=pd.DataFrame()
header_tag_list=[]
def wiki_header(url):
    try:
        header_tag_list.clear()
        response=get(url)
        html_soup=BeautifulSoup(response.text,'html.parser')
        header_tags=html_soup.find_all('h2',attrs={'class':'mp-h2'})
        for x in header_tags:
            header_tag_list.append(x.find_all('span',attrs={'class':'mw-headline'})[0].text)
        header_tag_dataframe['Header Tag']=header_tag_list
        return header_tag_dataframe
    except:
        print(sys.exc_info()[0])
        print('Please try with exact URL')

In [59]:
df=wiki_header('https://en.wikipedia.org/wiki/Main_Page')
df

                      Header Tag
0  From today's featured article
1               Did you know ...
2                    In the news
3                    On this day
4       Today's featured picture
5       Other areas of Wikipedia
6    Wikipedia's sister projects
7            Wikipedia languages

##  2. Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [60]:
top_100_dict={}
def imdb_top100(url):
    try:
        response=get(url)
        soup=BeautifulSoup(response.text,'html.parser')
        title=soup.find_all('div',attrs={'class':'lister-item-content'}) #For title
        top_100_dict.update({'Title':[]})

        rating=soup.find_all('div',attrs={'class':'ipl-rating-widget'}) #For Rating and Year of Release
        top_100_dict.update({'Rating':[]})
        
        top_100_dict.update({'Year of release':[]})

        for x in title:
            top_100_dict['Title'].append(x.h3.a.text)

        for x in rating:
            top_100_dict['Rating'].append(float(x.div.find('span',attrs={'class':'ipl-rating-star__rating'}).text))
            
        for x in title:
            top_100_dict['Year of release'].append(x.h3.find_all('span',attrs={'class':'lister-item-year text-muted unbold'})[0].text)


        top_100_df=pd.DataFrame(top_100_dict)
        top_100_df.to_csv('IMDB Top 100//IMDB Top 100.csv')
        return top_100_df
    
    except:
        print(sys.exc_info()[0])
        print('Please try with exact URL')

In [64]:
df=imdb_top100('https://www.imdb.com/list/ls091520106/')
df.head()

                      Title  Rating Year of release
0  The Shawshank Redemption     9.3          (1994)
1             The Godfather     9.2          (1972)
2    The Godfather: Part II     9.0          (1974)
3           The Dark Knight     9.0          (2008)
4              12 Angry Men     9.0          (1957)

## 3. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. Name, IMDB rating, Year of release) and save it in form of a CSV file.

In [62]:
top_100_indian_dict={}
def imdb_top100_india(url):
    try:
        response=get(url)
        soup=BeautifulSoup(response.text,'html.parser')
        get_txt=soup.find_all('div',attrs={'class':'lister'})[0].find_all('table',attrs={'data-caller-name':'imdb-featured-india'})[0]
        top_100_indian_dict.update({'Title':[]})
        top_100_indian_dict.update({'Rating':[]})
        top_100_indian_dict.update({'Year of Release':[]})
        
        for x in range(100):
            top_100_indian_dict['Title'].append(txt.find_all('td',attrs={'class':'titleColumn'})[x].a.text)
            top_100_indian_dict['Rating'].append(txt.find_all('td',attrs={'class':'ratingColumn imdbRating'})[x].strong.text)
            top_100_indian_dict['Year of Release'].append(txt.find_all('td',attrs={'class':'titleColumn'})[x].span.text)
            
        top_100_indian_df=pd.DataFrame(top_100_indian_dict)
        top_100_indian_df.to_csv('IMDB Top 100//IMDB Top Indian 100.csv')
        return top_100_indian_df
    
    except:
        print(sys.exc_info()[0])
        print('Please try with exact URL')

In [63]:
df=imdb_top100_india('https://www.imdb.com/india/top-rated-indian-movies/')
df.head()

             Title Rating Year of Release
0  Pather Panchali    8.5          (1955)
1         Ratsasan    8.5          (2018)
2         Gol Maal    8.5          (1979)
3       Anbe Sivam    8.5          (2003)
4          Nayakan    8.5          (1987)

## 4. Write a python program to scrap book name, author name, genre and book review of any 5 books from ‘www.bookpage.com’

In [73]:
url='https://bookpage.com'
response=get(url)
soup=BeautifulSoup(response.text,'html.parser')

In [182]:
get_txt=soup.find_all('div',attrs={'class':'bp-well'})
get_txt[0].h4.a.text #Title

'Gifts for gentle growth'

In [208]:
get_txt[0].p.text.replace('\n',"") #Author

'Feature by Susannah Felts'

In [211]:
get_txt[0].find('p',attrs={'class':'genre-links hidden-phone'}).a.text #Genre

'Nonfiction'

In [216]:
get_txt[0].find('p',attrs={'class':'excerpt'}).text.replace('\n',"") #Review

'In this strange and difficult year, we’ve all learned how to seek out and find silver linings. Here’s one: At a moment when we could all use a gift that says...'

In [244]:
book={}
def book_func(url):
    try:
        response=get(url)
        soup=BeautifulSoup(response.text,'html.parser')
        get_txt=soup.find_all('div',attrs={'class':'bp-well'})

        book.update({'Book Name':[]})
        book.update({'Author Name':[]})
        book.update({'Genre':[]})
        book.update({'Review':[]})

        for x in range(5):
            book['Book Name'].append(get_txt[x].h4.a.text) #Title

            book['Author Name'].append(get_txt[x].p.text.replace('\n',"")) #Author

            book['Genre'].append(get_txt[x].find('p',attrs={'class':'genre-links hidden-phone'}).a.text) #Genre

            book['Review'].append(get_txt[x].find('p',attrs={'class':'excerpt'}).text.replace('\n',"")) #Review
        
        bookdf=pd.DataFrame(book)
        bookdf.to_csv('Book//Book.csv')
    
        return bookdf
    except:
        print(sys.exc_info()[0])
        print(sys.exc_info()[1])
        print(sys.exc_info()[3])

In [246]:
df=book_func('https://bookpage.com')
df.head()

,Book Name,Author Name,Genre,Review
0,Gifts for gentle growth,Feature by Susannah Felts,Nonfiction,"In this strange and difficult year, we’ve all ..."
1,Audio: December 2020,Feature by Anna Zeitlin,Audio,"Some are short, and some are long, but the sto..."
2,Dancing in the Mosque,Review by Priscilla Kipp,Nonfiction,Homeira Qaderi’s searing memoir Dancing in the...
3,A Year of Everyday Wonders,Review by Julie Danielson,Children's Picture Book,A Year of Everyday Wonders is a truly wonderfu...
4,America the Beautiful,Review by Anna Spydell,Nonfiction,This beautiful hardcover book from National Ge...

## 5. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
## i) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
## ii) Top 10 ODI Batsmen in men along with the records of their team and rating.
## iii) Top 10 ODI bowlers along with the records of their team and rating.

In [66]:
team={}
def team_func(url):
    try:
        response=get(url)
        soup=BeautifulSoup(response.text,'html.parser')
        get_txt=soup.find_all('div',attrs={'class':'rankings-block__container full rankings-table'})

        team.update({'Team':[]})
        team.update({'Matches':[]})
        team.update({'Points':[]})
        team.update({'Ratings':[]})

        team['Matches'].append(get_txt[0].tbody.find_all('td',attrs={'class':['rankings-block__banner--matches']})[0].text) #Matches                                    
        
        for x in range(0,18,2):
            team['Matches'].append(get_txt[0].tbody.find_all('td',attrs={'class':['table-body__cell u-center-text']})[x].text) #Matches                                   
        
        
        for x in range(10):
            
            team['Team'].append(get_txt[0].tbody.find_all('span',attrs={'class':'u-hide-phablet'})[x].text) #Team
            
            team['Ratings'].append(get_txt[0].tbody.find_all('td',attrs={'class':['rankings-block__banner--rating u-text-right','table-body__cell u-text-right rating']})[x].text.replace('\n',"").strip()) #Ratings
                                   
        
        for x in range(0,20,2):
            team['Points'].append(int(get_txt[0].tbody.find_all('td',attrs={'class':['rankings-block__banner--points','table-body__cell u-center-text']})[x].text.replace(',',''))) #Points
            
        teamdf=pd.DataFrame(team)
        teamdf.to_csv('ICC//ICC Teams.csv')
    
        return teamdf
    except:
        print(sys.exc_info()[0])
        print(sys.exc_info()[1])
        print(sys.exc_info()[3])

In [132]:
df=team_func('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
df

           Team Matches  Points Ratings
0       England      44    5405     123
1         India      52    6102     117
2   New Zealand      32    3716     116
3     Australia      39    4344     111
4  South Africa      31    3345     108
5      Pakistan      35    3590     103
6    Bangladesh      34    2989      88
7     Sri Lanka      39    3297      85
8   West Indies      43    3285      76
9   Afghanistan      28    1549      55

In [71]:
url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
response=get(url)
soup=BeautifulSoup(response.text,'html.parser')

In [79]:
soup.find_all('div',attrs={'data-cricket-role':'batting'})[0].find_all('div',attrs={'class':'rankings-block__banner--name'})[0].text

'Virat Kohli'

In [100]:
soup.find_all('table',attrs={'class':'table'})[0].find_all('td',attrs={'class':'table-body__cell u-text-right rating'})

[<td class="table-body__cell u-text-right rating">855</td>,
 <td class="table-body__cell u-text-right rating">837</td>,
 <td class="table-body__cell u-text-right rating">818</td>,
 <td class="table-body__cell u-text-right rating">790</td>,
 <td class="table-body__cell u-text-right rating">765</td>,
 <td class="table-body__cell u-text-right rating">762</td>,
 <td class="table-body__cell u-text-right rating">759</td>,
 <td class="table-body__cell u-text-right rating">755</td>,
 <td class="table-body__cell u-text-right rating">754</td>]

In [170]:
batsmen={}
def bat(url):
    try:
        #url='https://www.icc-cricket.com/rankings/mens/player-rankings/odi'
        response=get(url)
        soup=BeautifulSoup(response.text,'html.parser')
        batsmen.update({'Name':[]})
        batsmen.update({'Ratings':[]})
        
        batsmen['Name'].append(soup.find_all('div',attrs={'data-cricket-role':'batting'})[0].find_all('div',attrs={'class':'rankings-block__banner--name'})[0].text)
        batsmen['Ratings'].append(soup.find_all('div',attrs={'class':'rankings-block__banner--rating'})[0].text)
        get_name=soup.find_all('table',attrs={'class':'table'})[0].find_all('a')
        get_rating=soup.find_all('table',attrs={'class':'table'})[0].find_all('td',attrs={'class':'table-body__cell u-text-right rating'})
        
        for x in get_name:
            batsmen['Name'].append(x.text)
        
        for x in get_rating:
            batsmen['Ratings'].append(x.text)
            
        batdf=pd.DataFrame(batsmen)
        batdf.to_csv('ICC//Top Batsmen.csv')
        return batdf

    except:
        print(sys.exc_info()[0])
        print(sys.exc_info()[1])
        print(sys.exc_info()[3])

In [136]:
df=bat('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
df

                  Name Ratings
0          Virat Kohli     871
1         Rohit Sharma     855
2           Babar Azam     837
3          Ross Taylor     818
4  Francois du Plessis     790
5      Kane Williamson     765
6          Aaron Finch     762
7         David Warner     759
8      Quinton de Kock     755
9       Jonny Bairstow     754

## 6. Write a python program to scrape cricket rankings from ‘www.icc-cricket.com’. You have to scrape:
## i) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.
## ii) Top 10 women’s ODI players along with the records of their team and rating.
## iii) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [168]:
#Women's Team
df=team_func('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
df

           Team Matches  Points Ratings
0     Australia      15    2436     162
1         India      15    1812     121
2       England      14    1670     119
3  South Africa      16    1713     107
4   New Zealand      15    1384      92
5   West Indies      12    1025      85
6      Pakistan      12     927      77
7    Bangladesh       5     306      61
8     Sri Lanka      11     519      47
9       Ireland       2      25      13

In [171]:
#Women
bat('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')

                Name Ratings
0        Meg Lanning     749
1    Stafanie Taylor     746
2       Alyssa Healy     741
3    Smriti Mandhana     732
4  Amy Satterthwaite     723
5     Tammy Beaumont     716
6       Ellyse Perry     691
7        Lizelle Lee     690
8    Laura Wolvaardt     689
9        Mithali Raj     687

## 7. Write a python program to scrape details of all the mobile phones under Rs. 20,000 listed on Amazon.in. The scraped data should include Product Name, Price, Image URL and Average Rating.

In [183]:
url='https://www.amazon.in/s?bbn=1389432031&rh=n%3A976419031%2Cn%3A%21976420031%2Cn%3A1389401031%2Cn%3A1389432031%2Cp_36%3A-2000000&qid=1607273170&rnid=1318502031&ref=lp_1389432031_nr_p_36_5'
response=get(url)
soup=BeautifulSoup(response.text,'html.parser')

In [217]:
get_title=soup.find_all('a',attrs={'class':'a-link-normal a-text-normal'})[0].span.text

'Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)'

In [222]:
get_price=soup.find_all('span',attrs={'class':'a-price-whole'})[0].text

In [235]:
get_rating=soup.find_all('span',attrs={'class':'a-icon-alt'})[0].text

In [254]:
get_img_src=soup.find_all('a',attrs={'class':'a-link-normal s-no-outline'})[0].img['src']

In [264]:
mobile_dict={}
def mob(url):
    try:
        response=get(url)
        soup=BeautifulSoup(response.text,'html.parser')

        mobile_dict.update({'Title':[]})
        mobile_dict.update({'Price':[]})
        mobile_dict.update({'Rating':[]})
        mobile_dict.update({'Image Source':[]})

        for x in range(0,20):
            mobile_dict['Title'].append(soup.find_all('a',attrs={'class':'a-link-normal a-text-normal'})[x].span.text)
            mobile_dict['Price'].append(soup.find_all('span',attrs={'class':'a-price-whole'})[x].text)
            mobile_dict['Rating'].append(soup.find_all('span',attrs={'class':'a-icon-alt'})[x].text)
            mobile_dict['Image Source'].append(soup.find_all('a',attrs={'class':'a-link-normal s-no-outline'})[x].img['src'])

        mobile_df=pd.DataFrame(mobile_dict)
        return mobile_df
    
    except:
        print(sys.exc_info()[0])
        print(sys.exc_info()[1])
        print(sys.exc_info()[3])

In [266]:
df=mob('https://www.amazon.in/s?bbn=1389432031&rh=n%3A976419031%2Cn%3A%21976420031%2Cn%3A1389401031%2Cn%3A1389432031%2Cp_36%3A-2000000&qid=1607273170&rnid=1318502031&ref=lp_1389432031_nr_p_36_5')
df

,Title,Price,Rating,Image Source
0,"Redmi 9A (Nature Green, 2GB Ram, 32GB Storage)","6,999",4 Stars & Up,https://m.media-amazon.com/images/I/710fuhtgIS...
1,"Redmi 9 (Sporty Orange, 4GB RAM, 64GB Storage)...","8,999",3 Stars & Up,https://m.media-amazon.com/images/I/81aWatlQCv...
2,"Redmi 9 Prime (Space Blue, 4GB RAM, 64GB Stora...","9,999",2 Stars & Up,https://m.media-amazon.com/images/I/719lhUzicY...
3,"Samsung Galaxy M31 Prime Edition (Ocean Blue, ...","16,499",1 Star & Up,https://m.media-amazon.com/images/I/71zb0UaK0P...
4,Nokia 105 Single SIM (Black),"1,179",4.1 out of 5 stars,https://m.media-amazon.com/images/I/31Z2ee9oYQ...
5,"Redmi 9A (Sea Blue, 3GB Ram, 32GB Storage)","7,499",4.0 out of 5 stars,https://m.media-amazon.com/images/I/71sxX9aLtn...
6,"Samsung Galaxy M01 (Blue, 3GB RAM, 32GB Storag...","7,499",4.2 out of 5 stars,https://m.media-amazon.com/images/I/81o1rDu5FZ...
7,"Redmi 9 Prime (Matte Black, 4GB RAM, 64GB Stor...","9,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/711+lAQXog...
8,"Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...","11,999",4.1 out of 5 stars,https://m.media-amazon.com/images/I/81mtDLql+X...
9,"Redmi 9A (Midnight Black, 3GB Ram, 32GB Storage)","7,499",4.1 out of 5 stars,https://m.media-amazon.com/images/I/712Ex7xDnd...
10,"Samsung Galaxy M21 (Midnight Blue, 4GB RAM, 64...","13,999",3.9 out of 5 stars,https://m.media-amazon.com/images/I/71dujTTJDZ...
11,"Samsung Galaxy M21 (Raven Black, 4GB RAM, 64GB...","13,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71QLvGIAq5...
12,"Oppo A52 (Twilight Black, 6GB RAM, 128GB Stora...","13,990",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71FPmXaDfb...
13,"Samsung Galaxy M31 (Ocean Blue, 6GB RAM, 128GB...","16,499",4.1 out of 5 stars,https://m.media-amazon.com/images/I/71-Su4Wr0H...
14,"Redmi 9 Prime (Mint Green, 4GB RAM, 64GB Stora...","9,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/710qEb8G3g...
15,"Redmi Note 9 Pro (Aurora Blue, 4GB RAM, 64GB S...","13,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/81pzsRpE5G...
16,"Redmi Note 9 (Arctic White, 4GB RAM, 64GB Stor...","11,999",4.1 out of 5 stars,https://m.media-amazon.com/images/I/714qRVfu2v...
17,"Redmi 9 Prime (Sunrise Flare, 4GB RAM, 64GB St...","9,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71GqB5VJFg...
18,"Samsung Galaxy M31 Prime Edition (Space Black,...","16,499",4.2 out of 5 stars,https://m.media-amazon.com/images/I/71Sinqbw35...
19,"Redmi Note 9 (Aqua Green, 4GB RAM, 64GB Storag...","11,999",4.2 out of 5 stars,https://m.media-amazon.com/images/I/81EjHa-dSJ...

## 8. Write a python program to extract information about the local weather from the National Weather Service website of USA, https://www.weather.gov/ for the city, San Francisco. You need to extract data about 7 day extended forecast display for the city. The data should include period, short description, temperature and description.

In [2]:
url='https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.X89aAS0RpQI'
response=get(url)
soup=BeautifulSoup(response.text,'html.parser')

In [36]:
period=soup.find_all('div',attrs={'class':'col-sm-2 forecast-label'})
period

[<div class="col-sm-2 forecast-label"><b>Overnight</b></div>,
 <div class="col-sm-2 forecast-label"><b>Tuesday</b></div>,
 <div class="col-sm-2 forecast-label"><b>Tuesday Night</b></div>,
 <div class="col-sm-2 forecast-label"><b>Wednesday</b></div>,
 <div class="col-sm-2 forecast-label"><b>Wednesday Night</b></div>,
 <div class="col-sm-2 forecast-label"><b>Thursday</b></div>,
 <div class="col-sm-2 forecast-label"><b>Thursday Night</b></div>,
 <div class="col-sm-2 forecast-label"><b>Friday</b></div>,
 <div class="col-sm-2 forecast-label"><b>Friday Night</b></div>,
 <div class="col-sm-2 forecast-label"><b>Saturday</b></div>,
 <div class="col-sm-2 forecast-label"><b>Saturday Night</b></div>,
 <div class="col-sm-2 forecast-label"><b>Sunday</b></div>,
 <div class="col-sm-2 forecast-label"><b>Sunday Night</b></div>,
 <div class="col-sm-2 forecast-label"><b>Monday</b></div>]

In [33]:
soup.find_all('p',attrs={'class':'temp temp-low'})

[<p class="temp temp-low">Low: 49 °F</p>,
 <p class="temp temp-low">Low: 46 °F</p>,
 <p class="temp temp-low">Low: 47 °F</p>,
 <p class="temp temp-low">Low: 45 °F</p>]

In [34]:
soup.find_all('p',attrs={'class':'temp temp-high'})

[<p class="temp temp-high">High: 68 °F</p>,
 <p class="temp temp-high">High: 64 °F</p>,
 <p class="temp temp-high">High: 63 °F</p>,
 <p class="temp temp-high">High: 59 °F</p>]

In [26]:
soup.find_all('div',attrs={'class':'col-sm-10 forecast-text'})[0].text

'Mostly clear, with a low around 49. Light south southeast wind. '

In [39]:
temp_dict={}
def temp(url):
    try:
        response=get(url)
        soup=BeautifulSoup(response.text,'html.parser')
        temp_dict.update({'Temp':[]})
        temp_dict.update({'Period':[]})
        temp_dict.update({'Description':[]})
        
        temp_low=soup.find_all('p',attrs={'class':'temp temp-low'})
        temp_high=soup.find_all('p',attrs={'class':'temp temp-high'})
        
        for x in temp_low:
            i=0
            temp_dict['Temp'].append(temp_low[i].text)
            i+=2
        
        for x in temp_high:
            i=1
            temp_dict['Temp'].append(temp_high[i].text)
            i+=2
        
        for x in range(0,8):
            temp_dict['Period'].append(soup.find_all('div',attrs={'class':'col-sm-2 forecast-label'})[x].text)
            temp_dict['Description'].append(soup.find_all('div',attrs={'class':'col-sm-10 forecast-text'})[x].text)
        
        temp_df=pd.DataFrame(temp_dict)
        return temp_df
        
    except:
        print(sys.exc_info()[0])
        print(sys.exc_info()[1])
        print(sys.exc_info()[3])

In [40]:
df=temp('https://forecast.weather.gov/MapClick.php?lat=37.777120000000025&lon=-122.41963999999996#.X89aAS0RpQI')
df

,Temp,Period,Description
0,Low: 53 °F,Overnight,"Mostly clear, with a steady temperature around..."
1,Low: 53 °F,Tuesday,"Sunny, with a high near 70. Calm wind becoming..."
2,Low: 53 °F,Tuesday Night,"Mostly clear, with a low around 46. North nort..."
3,Low: 53 °F,Wednesday,"Mostly sunny, with a high near 64. North wind ..."
4,High: 64 °F,Wednesday Night,"Partly cloudy, with a low around 48. Calm wind."
5,High: 64 °F,Thursday,"Mostly sunny, with a high near 62."
6,High: 64 °F,Thursday Night,"Partly cloudy, with a low around 45."
7,High: 64 °F,Friday,"Mostly sunny, with a high near 60."

## 9. Write a python program to scrape ‘software developer’ job listings from ‘Monster.com’. It should include all the jobs listed for the next 5 pages.

In [37]:
jobs_dict={}
def job(url):
    browser=Safari()
    browser.get(url)
    load_more=browser.find_element_by_xpath("//a[@class='mux-btn btn-secondary load-more-btn ']")
    for x in range(5):
        load_more.click()   #Load Next 5 Pages
        time.sleep(2)
    browser=browser.page_source
    soup=BeautifulSoup(browser,'lxml')
    jobs_dict.update({'Jobs':[]})
    jobs=soup.find_all('div',attrs={'class':'mux-search-results'})[0].find_all('a')
    
    def load_job():
        for x in range(len(jobs)):
            jobs_dict['Jobs'].append(jobs[x].text.replace('\r',"").replace('\n',"").strip())
    
    load_job()
    jobs_df=pd.DataFrame(jobs_dict)
    return jobs_df

In [38]:
df=job('https://www.monster.com/jobs/search/?q=Software-Developer')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Jobs    153 non-null    object
dtypes: object(1)
memory usage: 1.3+ KB

In [39]:
df.head()

                                              Jobs
0                   Lead Mobile Software Developer
1  Software Developer - C#/.NET, Azure, SQL Server
2         Software Application Developer/Analyst 3
3                            Software Developer IV
4                        Senior Software Developer

## 10. Write a python program to scrape ‘datascientist’ joblistings for location ‘NewDelhi’ from ‘Monster.com’. It should include all the jobs listed for the next 5 pages.

In [66]:
jobs_dict={}
def job(url):
    response=Safari()
    response.get(url)
    time.sleep(2)
    input_job=response.find_element_by_xpath("//input[@class='form-control tt-input' and @placeholder='Search Jobs']")
    input_job.send_keys('Data Scientist')
    input_location=response.find_element_by_xpath("//input[@class='form-control tt-input' and @placeholder='Location']")
    input_location.send_keys('Delhi')
    search=response.find_element_by_xpath("//div[@class='hero-container']//button")
    search.click()
    time.sleep(2)
    response=response.page_source
    soup=BeautifulSoup(response,'lxml')
    jobs_dict.update({'Jobs':[]})
    jobs=soup.find_all('div',attrs={'class':'mux-card mux-job-card'})[0].find_all('a')
    
    def load_job():
        for x in range(len(jobs)):
            jobs_dict['Jobs'].append(jobs[x].text.replace('\r',"").replace('\n',"").strip())
    
    load_job()
    jobs_df=pd.DataFrame(jobs_dict)
    return jobs_df

In [67]:
df=job('https://www.monster.com/jobs/')
df.head()

                                                Jobs
0  Microstrategy Business Intelligence Analyst / ...
1  MicroStrategy Business Intelligence Analyst / ...